*{
    margin: 0;
    padding: 0;
}
#header{
    text-align: center;
    display: grid;
    background-color: blueviolet;
    font-size: 20px;
    color: white;
}
#menu{
    background: red;
    padding: 20px;
}
#menu ul{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
#menu a{
    text-decoration: none;
    color: white;
}
#conteudo{
    height: 100vh;
    width: 100vw;
}
